* {
  padding: 0;
  margin: 0;
}

.broadcastMe {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.broadcastMe .broadcastMe-list {
  position: relative;
}

.broadcastMe .broadcastMe-list .broadcastMe-item {
  float: left;
}

.broadcastMe .broadcastMe-list .broadcastMe-item img {
  width: 100%;
}

.broadcastMe .broadcastMe-tool {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 0.5rem;
}

.broadcastMe .broadcastMe-tool .broadcastMe-spot {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #ccc;
  display: inline-block;
  margin: 0.2rem;
  opacity: 0.6; 
  transition: background .6s;
}

.broadcastMe .broadcastMe-tool .broadcastMe-spot:hover {
  background: #ff6700;
  cursor: pointer;
}

.broadcastMe .broadcastMe-tool .broadcastMe-spot-active {
  background: #ff6700;
}

.broadcastMe .broadcastMe-btn {
  width: 3rem;
  height: 6rem;
  background: transparent;
  opacity: .6;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  line-height: 6rem;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -3rem;
  transition: background .6s;
}

.broadcastMe .broadcastMe-btn:hover {
  background: #000;
  cursor: pointer;
}

.broadcastMe .broadcastMe-btn-left {
  left: -1px;
}

.broadcastMe .broadcastMe-btn-right {
  right: -1px;
}

/* 响应式：width <= 768px */
@media screen and (max-width:768px) {
  .broadcastMe .broadcastMe-btn {
    display: none;
  }
}
